html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::before, *::after, * {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit; 
    box-sizing: inherit;
}

header div {
    display: inline-block;
}

.listmenu, .sitecontent {
    display: inline-block;
}

.listmenu li {
    list-style: none;
}

.greeting {
    text-align: right;
}

.greeting li {
    position: relative;
    right: 0;
    display: inline-block;
    list-style: none;
}
