@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*::before, *::after, * {
    -moz-box-sizing: inherit;
    -webkit-box-sizing: inherit; 
    box-sizing: inherit;
}


body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header div {
    vertical-align: middle;
    display: inline-block;
}

section {
    display: inline-block;
    vertical-align: top;
}

.listmenu, .sitecontent {
    display: inline-block;
}

.listmenu li {
    list-style: none;
}

.headsite {
    margin: 0 auto;
    width: 49%;
    padding-left: 20px;
    vertical-align: top;
}

.headsite img {
    display: block;
    position: relative;
    top: 20px;
}

.headsite h1, .headsite h3{
    position: relative;
    left: 120px;
    top: -97px;
}

.headsite h3 {
    font-size: 16px;
    width: 49%;
}

.greeting {
    padding-top: 15px;
    text-align: right;
    width: 50%;
}

.greeting li {
    position: relative;
    right: 0;
    display: inline-block;
    list-style: none;
}

.sitecontent, .listmenu {
    font-size: 22px;
}

.sitecontent {
    width: 70%;
    text-align: center;
    padding-right: 400px;
}

.listmenu {
    width: 29%;
}

.listmenu li {
    padding-bottom: 20px;
}

@media (max-width: 800px) {
    .sitecontent, .listmenu, .greeting, .headsite {
        width: 100%;
    }

    .headsite {
        padding-left: 0;
    }

    .sitecontent {
        padding-right: 0;
    }

    .greeting h3 {
    }

    .greeting {
        text-align: center;
    }

    .listmenu {
        padding-right: 0;
    }

    .listmenu li {
        text-align: center;
    }
}
