*{margin:0;padding:0;}

.container{
    margin:0px auto;
    min-width: 100%; 
}
.container>header>.logo{
    width: 100px;
    overflow: hidden;
    height: 100px;
    float:left;
    border: 1px solid #000;
}
.container>header>.user-info{
    border: 1px solid #000;
    height: 100px;
    text-align: right;
}
.clear{
    clear: both;
}
.left{
    float: left;
    width: 10%;
}
.content{
    width: 80%;
    float: left;
}
.right{
    float: right;
    width: 10%;
}
.right li{
    list-style-position: inside;
}
footer{
    height: 100px;
    border:1px solid #000;
}
