@import url(https://fonts.googleapis.com/css?family=Raleway:700|Roboto+Slab:400,700);

$font-family--serif: sans-serif;
$font-family--roboto: 'Roboto Slab', serif;
$font-family--raleway: 'Raleway', sans-serif;
