<h1>Halo Controller : Action Coba </h1>

<form action="contoh">

    Masukkan nama Anda : <input name="nama">
    <input type="submit">

</form>


<table>

    <tr>
        <th>Judul</th><th>Tanggal</th><th>Excerpt</th>
    </tr>

    <% @feed.entries.each do |x| %>
    <tr>
        <td><%= x.title %></td>
        <td><%= x.published %></td>
        <td></td>
    <tr>

    <% end %>

</table>
